
*.jpg

*.out

*.gz

*.log

KropkosNotes.pdf

*.aux

*.fdb_latexmk

*.nav

*.snm

*.toc

Data/plot1.pdf

# ignore folders

Application



Application/GP MathCamp.Syllabus.pdf

Application/GP MathCamp.Syllabus.pdf

Application/MathCamp_Bahamonde_Statement.pdf

Application/MathCamp_Bahamonde.docx

Application/MathCamp_Bahamonde_Statement.tex

*.fls

.DS_Store
